html {
  box-sizing: border-box;
  /* font-size: 62.5%; 16px*62.5 = 10px =1rem */
}

body {
  margin: 0 auto;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 20px 100px;
  border: 2px solid dodgerblue;
}
.hero-body {
  background: dodgerblue;
}

.map {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.button-location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  position: sticky;
  margin-left: 100px;
  top: 10px;
}

.friend > a {
  font-size: 1rem;
}
.friend {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.red {
  background-color: red;
}

@media screen and (max-width: 1360px) {
  .box {
    display: none;
  }
}

.on {
  background-color: black;
}
