<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/join.css">
    <title>logBook</title>
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="../static/join.js" defer></script>
  </head>
  
  <body>
    <main class="join__box">
      <img class="join__img" src="../static/항해99.png"></img>
      <div class="join__container">
        <label class="join__name join__row">
          <div>이름</div>
          <input type="text" name="name" form="join-form" placeholder="이름을 작성해 주세요">
        </label>
        <label class="join__birth join__row">
          <span>생년월일</span>
          <span>ex)950331</span>
          <input type="datetime" name="birth" form="join-form" placeholder="생년월일을 작성해 주세요">
        </label>
        <label class="join__email join__row">
          <div>이메일</div>
          <input type="email" name="email" form="join-form" placeholder="이메일을 작성해 주세요">
        </label>
        <button class="checkOverlapBtn">중복 검사</button>
        <label class="join__password join__row">
          <span>비밀번호</span>
          <span>ex) 영문, 숫자는 1개 씩 무조건 포함,8-20자 길이</span>
          <input type="password" name="password" form="join-form" placeholder="비밀번호를 작성해주세요 ">
        </label>
      </div>
      <button class="join__btn">join</button> 
    </main>
  </body>
</html>