<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- css -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../static/reset.css" />
    <link rel="stylesheet" href="../static/main.css" />
    <!-- javascript -->
  </head>
  <body>
    <img
      src="../static/map.jpg"
      alt="이미지맵 테스트"
      usemap="#imgmap"
      border="0"
    />
    <map id="imgmap" name="imgmap">
      {% for area in areas %}
      <area
        shape="circle"
        alt=""
        title=""
        coords="{{area[0]}},{{area[1]}},{{area[2]}}"
        href=""
        target=""
      />
      {% endfor %}
    </map>
  </body>
</html>
