<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="box">
      <div class="block">
        <div class="subtitle">친구 추가</div>
        <div class="control columns">
          <input
            class="input column is-4"
            type="email"
            placeholder="e.g. alex@example.com"
          />
          <button class="button is-info column is-2">친구추가</button>
        </div>
      </div>
      <div class="block">
        <div class="subtitle">친구목록</div>
        <ul class="friends__list">
          <li class="friend">
            <a href="">keumks789@naver.com</a>
            <button class="delete is-large"></button>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
